{% extends "base.html" %}
{% block content %}
<form action="" method="post">
    <div class="fieldWrapper">
        {{ form.slug.errors }}
        <label for="id_slug">Slug:</label>
        {{ form.slug }}
    </div>
    <div class="fieldWrapper">
        {{ form.name.errors }}
        <label for="id_name">Name (optional):</label>
        {{ form.name }}
    </div>
    <div class="fieldWrapper">
        {{ form.usefile.errors }}
        <label for="id_usefile">Usefile:</label>
        {{ form.usefile }}
    </div>
    <div class="fieldWrapper">
        {{ form.checksums.errors }}
        <label for="id_checksum">Checksums:</label>
        {{ form.checksums }}
    </div>
    <input type="submit" value="edit" /></form>
{% endblock %}
