{% extends "base.html" %}

{% block content %}

<form method="post" action="">{% csrf_token %}
    <div class="fieldWrapper">
        {{ form.slug.errors }}
        <label for="id_slug">Slug:</label>
        {{ form.slug }}
    </div>
    <div class="fieldWrapper">
        {{ form.name.errors }}
        <label for="id_name">Name (optional):</label>
        {{ form.name }}
    </div>
    <div class="fieldWrapper">
        {{ form.latest.errors }}
        <label for="id_latest">Latest version:</label>
        {{ form.latest }}
    </div>
    <input type="submit" value="edit" />
</form>

{% endblock %}

