{% extends "pkg/package.html" %}
{% block content %}
<p>You have selected {{ package.name }} {{ version }}. Available variants:</p>

<ul>
    {% for variant_slug, action in variants.items %}
        <li>
            <a href="{% url nirvana.pkg.views.variant slug=package.slug version_slug=version.slug variant_slug=variant_slug %}">{{ variant_slug }}</a>
{% ifequal action "edit" %}
- <a href="{% url nirvana.pkg.views.variant_edit slug=package.slug version_slug=version.slug variant_slug=variant_slug %}">edit</a>
{% endifequal %}
        </li>
    {% empty %}
    None.
    {% endfor %}
</ul>
{% if user.is_authenticated %}
<p><a href="{% url nirvana.pkg.views.variant_new slug=package.slug version_slug=version.slug %}">create new variant</a></p>
{% endif %}
{{ block.super }}
{% endblock %}
