{% extends "base.html" %}
{% block content %}
    <h2>{{ package.name }}</h2>
    {% if user.is_authenticated %}
    {% ifequal user package.author %}
    <a href="{% url nirvana.pkg.views.version_new slug=package.slug %}">upload new version</a>
    {% endifequal %}
    {% endif %}
    <ul>
    {% if package.latest_version %}
    <li><a href="{% url nirvana.pkg.views.version slug=package.slug version_slug="latest" %}">{{ package.latest_version.slug }} {{ package.latest_latest_version.name }}</a></li>
    {% endif %}
    {% for version in versions %}
        {% ifnotequal version package.latest_version %}
            <li><a href="{% url nirvana.pkg.views.version slug=package.slug version_slug=version.slug %}">{{ version.slug }} {{ package.latest_version.name }}</a></li>
        {% endifnotequal %}
    {% empty %}
    No versions.
    {% endfor %}
    </ul>
{% endblock %}
